body {
  color: green;
}

h1 {
  display: flex;
  justify-content: center;
  color: green;
}

.searchBar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -10px;
}

#searchButton {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  margin-left: -35px;
  background-color: green;
  color: white;
  border-color: rgba(1,1,1,0);
}

#searchButton:hover {
  cursor: pointer;
  background-color: white;
  color: green;
  border-color: rgba(1,128,1,1);
}

#searchInput {
  height: 34px;
  width: 250px;
  border-radius: 17px;
  padding-left: 20px;
  border: solid 1px green;
  outline: none; /* Remove the default outline */
  color: green; /* Set the text color when input is clicked */
}

#searchInput::placeholder {
  color: green; /* Set the text color for the placeholder text */
}

.result {
    margin-top: 10px;
}

.result-item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.horizontal-line {
  width: 625px;
  height: 2px;
  background-color: green;
}


canvas {
position: absolute;
max-width: 400px;
max-height: 120px;
margin-top: -40px;
/* margin-top: -600px;
margin-left: 420px; */
}

.description-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    flex-direction: column;
    border: solid 4px green;
    width: 650px;
    padding: 10px;
    border-radius: 20px;
    position: relative;
    font-size: 15px;
}

.description-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("images/flowers-g49d7ad89a_1280.jpg");
  opacity: 0.1; /* Adjust the opacity level as needed */
  z-index: -1; /* Ensure the pseudo-element is behind the content */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.result-item {
display: flex;
flex-direction: column; /* Add this line */
height: auto; /* Adjust height to fit content */
padding: 10px;
margin-bottom: 5px;
}

.result-item span {
margin-bottom: 0px;
margin-right: 10px;
}



img {
    width: 400px;
    height: 300px;
    object-fit: cover; /* Crop the image to fit within the specified dimensions */
    border-radius: 10px;
    border: solid green 5px;
}

.legend-container {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  max-width: 650px; /* Adjust the max-width as needed */
}

.legend-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
  margin-left: 425px;
}

.legend-color {
  min-width: 20px;
  height: 20px;
  margin-right: 5px;
}

.legend-label {
  font-size: 12px;
  margin-right: 10px;
}

  